<div class="mt-6 flow-root">
    <div class="overflow-x-auto">
        <div class="inline-block min-w-full align-middle">
            <div class="overflow-hidden rounded-md bg-gray-50 p-2 md:pt-0">
                <table class="hidden min-w-full rounded-md text-gray-900 md:table"  >
                    <thead class="rounded-md bg-gray-50 text-left text-sm font-normal">
                        <tr>
                            <th scope="col" class="px-4 py-2 font-medium sm:pl-6">ID</th>
                            <th scope="col" class="px-3 py-2 font-medium">Nombre</th>
                            <th scope="col" class="px-3 py-2 font-medium">Descripcion</th>
                            <th scope="col" class="px-3 py-2 font-medium">Precio (Q)</th>
                            <th scope="col" class="px-4 py-2 font-medium">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-900" >
                        <tr *ngFor="let item of products" class="group">
                            <td class="whitespace-nowrap bg-white py-2 pl-4 pr-3">{{item.id}}</td>
                            <td class="whitespace-nowrap bg-white px-4 py-2 text-sm">{{item.name}}</td>
                            <td class="whitespace-nowrap bg-white px-4 py-2 text-sm" >{{item.description}}</td>
                            <td class="whitespace-nowrap bg-white px-4 py-2 text-sm">{{item.unitPrice}}</td>
                            <td class="whitespace-nowrap bg-white px-4 py-2 text-sm">{{item.stock}}</td>
                            <button type="button" name="eliminate" class="btn btn-outline-danger btn-sm"  ><i class="bi bi-trash3"></i></button>
                            <button type="button" name="edit" class="btn btn-outline-info btn-sm ms-2" ><i class="bi bi-pencil-square"></i></button>
                            <button type="button" name="sale" class="btn btn-outline-dark btn-sm ms-2" ><i class="bi bi-cart"></i></button>
                            <button type="button" name="buy" class="btn btn-outline-success btn-sm ms-2" ><i class="bi bi-bag"></i></button>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

   
