<table class="table" >
    <thead>
        <th>ID Producto</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio (Q)</th>
        <th>Cantidad</th>
        <th></th>
    </thead>
    <tbody class="" *ngFor="let product of myCart$ | async">
        <tr>
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.description}}</td>
          <td>{{product.unitPrice}}</td>
          <td>{{product.unitsSale}}</td>
          <td> </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>Total:</td>
            <td>  </td>
            <td>  </td>
            <td> </td>
            <td>  </td>
            <td> --</td>
          </tr>
    </tfoot>
</table>
