 .register-form {
    display: grid;
    place-items: center;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: grid;
    grid-gap: 10px;
    text-align: center;
  }
  
  label {
    grid-column: 1;
    text-align: right;
  }
  
  input, button, select {
    grid-column: 2;
    padding: 5px;
  }
  
  button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }


 