.sidebar {
    width: 220px;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    transition-duration: 0.2s;
    overflow-y: auto;
    overflow-x: hidden;
}

.logo
{
    display: none;
    width: 30px;
    height: 30px;
    background-color: #22b07d;
    flex-shrink: 0;
    color: #fff;
    align-items: center;
    border-radius: 50%;
    justify-content: center;

    &-expand
    {
        text-decoration: none;
        color: black;
        font-size: 19px;
        font-weight: 600;
        line-height: 34px;
        position: sticky;
        top: 0;
    }
}

.side-menu {
    display: flex;
    flex-direction: column;
}

a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--body-color);
    & + a {
        margin-top: 26px;
    }
}

svg {
    width: 30px;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--button-bg);
    flex-shrink: 0;
    margin-right: 16px;
    &:hover {
      color: #fff;
    }
}

.side-title {
    font-size: 12px;
    letter-spacing: 0.07em;
    margin-bottom: 24px;
}

.side-wrapper {
    border-bottom: 1px solid var(--border-color);
    padding: 36px 0;
    width: 145px;
    & + & {
     border-bottom: none;
    }
}
   
.navbar {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    background-color: #030301;
    color:white;
    
    &-cart{
        position: relative;
        margin-right: 1rem;
    
    &-items{
        position: absolute;
        left: 8.5px;
        top: -0.8rem;
        color:white;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        background-color: rgb(172, 14, 14);
        height: 20px;
        width: 20px;
        p{
            font-size: 0.8rem;
            text-align: center;
        }
    }
  }
}