<div class="sidebar">
    <span class="logo">Logo</span>
    <a class="logo-expand" href="#">Gestión de inventario</a>
    <div class="side-wrapper">
        <div class="side-title">Menú</div>
        <div class="side-menu">
            <a class="sidebar-link discover is-active" [routerLink]="['createProducts']" href="#">
                <i class="bi bi-clipboard-plus"></i>
                Crear productos
            </a>
            <a class="sidebar-link trending" [routerLink]="['saleProduct']" href="#">
                <i class="bi bi-cart"></i>
                Venta de Productos
                <div class="" *ngIf="(myCart$ | async)?.length">
                    <p>{{ (myCart$ | async)?.length }}</p>
                </div>
            </a>
            <a class="sidebar-link" href="#" [routerLink]="['buyProduct']">
                <i class="bi bi-bag"></i>
                Compra de Productos
                <div class="" *ngIf="(myCartBuy$ | async)?.length">
                    <p>{{ (myCartBuy$ | async)?.length }}</p>
                </div>
            </a>
        </div>
    </div>
</div>


