<div class="text-center">
    <h2><i class="fas fa-users"></i>Compra de productos</h2>
</div>
<div class="card mt-3">
    <table class="table table-borderless m-3" >
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio (Q)</th>
            <th>Cantidad</th>
            <th>Total (Q)</th>
            <th></th>
        </thead>
        <tbody class="" *ngFor="let product of myCartBuy$ | async">
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.unitPrice}}</td>
                <td><i class="bi bi-dash-square-fill" (click)="updateUnits('minus',product.id)"></i>    {{product.unitsBuy}}   <i class="bi bi-plus-square-fill" (click)="updateUnits('add',product.id)"></i></td>
                <td>{{totalProduct(product.unitPrice, product.unitsBuy)}}</td>
                <td><i class="bi bi-file-excel-fill" (click)="deleteProduct(product)"></i></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{totalBuyProduct()}}</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="my-2 text-left">
    <button class="btn btn-outline-primary m-2" type="button"  data-bs-toggle="" data-bs-target="">
        <i class="bi bi-hdd"></i>
    </button> 
    <button class="btn btn-outline-danger m-2 " type="button"  data-bs-toggle="" data-bs-target="">
        <i class="bi bi-filetype-pdf"></i>
    </button>
    <button class="btn btn-outline-dark m-2" type="button"  data-bs-toggle="" data-bs-target="">
        <i class="bi bi-x-circle"></i>
    </button>
</div>
